body{
	background: #222 url(imagini/stripe2.png) repeat;
	margin:0 auto;
}

@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face{
	font-family:bebasthin;
	src:url(BebasNeue-Thin.woff)
}
@font-face{
	font-family:bebasbook;
	src:url(BebasNeue-Book.woff)
}
@font-face{
	font-family:bebasbold;
	src:url(BebasNeue-Bold.woff)
}
@font-face{
	font-family:bebaslight;
	src:url(BebasNeue-Light.woff)
}
@font-face {
    font-family: museo;
    src: url(museo500.woff);
}
@font-face {
    font-family: sourcesans;
    src: url(SourceSansPro-Regular.woff);
}
ul{	position:fixed;
	width:100%;
	background:#080000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
	font-family:bebasregular;
	box-shadow:0 2px 1px black;
	z-index:5;
	white-space: nowrap;	
	border-bottom:3px solid #65000B;
	
}
li{	padding-top:15px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
    display: inline-block;
     text-align: center;
	color:White;
	text-shadow:2px 2px 2px grey;
	transition:0.3s ease;
	float:left;
}
li:hover{
	background-color:#980011;
	cursor:pointer;
}
li:nth-child(2){
	background-color:#65000B;
}

li:last-child{
	float:right;
	
}
li:last-child:hover{
	background:#080000;
}
.banner{
	position:relative;
	display:block;
	background-color:black;
	border:5px solid #080000;
	margin:auto auto;
	border-left:none;
	border-right:none;
}
.banner:first-child{
	border-bottom:none;
}
.banner:nth-child(2)
{
	border-bottom:none;
}
.banner:nth-child(3)
{
	border-bottom:none;
}
#categorii{
	margin-top:8%;
}
#america{
	background-size:10%,20%,100%;
	background-image:url(imagini/america.png),url(imagini/liberty.png),url(imagini/americabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -60px,0;
	transition:0.5s all;
	
}
#america:hover{
	background-size:15%,25%,110%;
	background-image:url(imagini/america.gif),url(imagini/liberty.png),url(imagini/americabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -60px,0;
	
}
#europa{
	background-size:10%,20%,100%;
	background-image:url(imagini/europa.png),url(imagini/david.png),url(imagini/europabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -4px,0;
	transition:0.5s all;
	
}
#europa:hover{
	background-size:15%,25%,110%;
	background-image:url(imagini/europa.gif),url(imagini/david.png),url(imagini/europabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -4px,0;
	
}
#rusia{
	background-size:8%,20%,100%;
	background-image:url(imagini/rusia.png),url(imagini/lenin.png),url(imagini/rusiabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -4px,0;
	transition:0.5s all;
	
}
#rusia:hover{
	background-size:13%,25%,110%;
	background-image:url(imagini/rusia.gif),url(imagini/lenin.png),url(imagini/rusiabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -4px,0;
	
}
#romania{
	background-size:8%,20%,100%;
	background-image:url(imagini/romania.png),url(imagini/mviteazul.png),url(imagini/romaniabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -80px,0;
	transition:0.5s all;
}
#romania:hover{
	background-size:12%,25%,110%;
	background-image:url(imagini/romania.gif),url(imagini/mviteazul.png),url(imagini/romaniabg.jpg);
	background-repeat:no-repeat,no-repeat,no-repeat;
	background-position:20%,80% -80px,0;
	
}
span{
	text-align:center;
	display:block;
	position:relative;
	font-size:40px;
	margin:auto auto;
	font-family:bebasregular;
	color:white;
	text-shadow:0px 0px 15px black;
	transition:0.5s all;
	padding:0;
}
.hover{
	display:inline;
}
.hover:hover span{
	
	font-size:45px;
	text-shadow:0px 0px 15px #65000B;
	cursor:pointer;
}

#caracteristici{
	text-align:center;
	display:block;
	font-family:bebasregular;
	margin-top:6%;
	padding-top:10px;
	padding-bottom:5px;
	color:white;
	border-top:3px solid #080000;
	border-bottom:3px solid #080000;
	text-shadow:0px 0px 15px black;
	transition:1s all;
	box-shadow:3px 3px 3px #65000B;
}
#caracteristici:hover{
	text-shadow:3px 3px 15px #65000B;
	cursor:pointer;	
}
#expand{
	background:radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
	border-bottom:3px solid #080000;
	border-left:3px solid #080000;
	border-right:3px solid #080000;
	border-bottom-right-radius:5%;
	border-bottom-left-radius:5%;
	text-align:center;
	display:block;
	position:relative;
	margin:0 auto;
	height:0px;
    word-wrap: break-word;
	font-family:sourcesans;
	overflow:hidden;
	color:white;
	text-shadow:0px 0px 3px white;
	box-shadow:3px 3px 3px #65000B;
}
#ex{
	display:inline-block;
	border:5px solid gold;
	margin-left:25px;
	border-radius:50%;
	box-shadow:0px 0px 15px gold;
	
}
a{
	text-decoration: none;
	color:white;
}
strong{
	color:red;
	text-shadow:0px 0px 2px red;
}