body{
	
	margin:0 auto;
	background-color: #101010;
	background-size:0%,0%;
	background-repeat:repeat-y,repeat-y;
	background-position:5%,95%;
	transition:1s ease-in-out;
	
}
@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: sourcesans;
    src: url(SourceSansPro-Regular.woff);
}
@font-face {
    font-family: 'hattori_hanzolight';
    src: url('Hattori_Hanzo-webfont.eot');
    src: url('Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('Hattori_Hanzo-webfont.woff') format('woff'),
         url('Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
ul{	position:fixed;
	width:100%;
	background:#080000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
	font-family:bebasregular;
	box-shadow:0 2px 1px black;
	z-index:105;
	white-space: nowrap;	
	border-bottom:3px solid #65000B;
	
	
}
li{	padding-top:15px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
    display: inline-block;
     text-align: center;
	color:White;
	text-shadow:2px 2px 2px grey;
	transition:0.3s ease;
	float:left;
}
li:hover{
	background-color:#980011;
	cursor:pointer;
}
li:nth-child(2){
	background-color:#65000B;
}

li:last-child{
	float:right;
	
}
li:last-child:hover{
	background:#080000;
}

span{
	text-decoration:underline;
	cursor:pointer;
	text-shadow:0px 0px 15px white;
}
a{
	text-decoration: none;
	color:white;
}
#notif{
	position:fixed;
	background:radial-gradient(ellipse at center, rgba(71,0,1,1) 0%,rgba(25,0,3,1) 100%);
	color:white;
	text-shadow:1px 1px 2px grey;
	top:2%;
	right:5%;
	font-size:155%;
	font-family:sourcesans;
	border-radius:5px;
	z-index:150;
	border-radius:50px;
	display:block;
}
#pozacont{
	position:fixed;
	opacity:0;
	transition:0.5s all;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	cursor:pointer;
	border:15px solid #65000B;
	background-color:#350707;
	box-shadow:0px 0px 15px black;
}