body{
	margin:0 auto;
	background:url(imagini/bgtest.png) repeat;
}
@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: sourcesans;
    src: url(SourceSansPro-Regular.woff);
}
ul{	position:fixed;
	width:100%;
	background:#080000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:0;
	font-family:bebasregular;
	box-shadow:0 2px 1px black;
	z-index:105;
	white-space: nowrap;	
	border-bottom:3px solid #65000B;
	display:block;
	list-style-type: none;
	
}
li{	padding-top:15px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:20px;
    display: inline-block;
     text-align: center;
	color:White;
	text-shadow:2px 2px 2px grey;
	transition:0.3s ease;
	float:left;
}
li:hover{
	background-color:#980011;
	cursor:pointer;
}
li:nth-child(5){
	background-color:#65000B;
}

li:last-child{
	float:right;
	
}
li:last-child:hover{
	background:#080000;
}


a{
	text-decoration: none;
	color:white;
}
#contjoc{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	border:20px solid black;
	border-radius:35px;
	background-image:url(imagini/bggrid.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	box-shadow:0px 0px 15px black;
}
#meniu{
	position:relative;
	float:left;
	
	border-radius:10px;
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); 
	top:50%;
	transform:translate(0,-50%)
}
#contimagini{
	position:relative;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	padding-bottom:2%;
	margin-top:5%;
	text-shadow:0px 0px 15px black;
	
}
#joc{
	position:relative;
	border-radius:15px;
	float:right;
	overflow:hidden;
	vertical-align:middle;
	background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); 
	box-shadow:0px 0px 15px black;
	top:50%;
	transform:translate(0,-50%);
}
#grid0{
	background-color:#470001;
}
.imaginegrid{
	margin-top:3%;
	width:25%;
	margin-left:6%;
	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
	transition:0.5s all;
}
.imaginegrid:hover{
	width:30%;
	margin-left:1%;
}
#time{
	position:relative;
	font-family:bebasregular;
	display:block;
	margin-top:4%;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	font-size:225%;
	color:white;
	padding-top:3%;
	padding-left:1%;
	padding-right:1%;
	text-align:center;
	text-shadow:0px 0px 15px black;
	overflow:visible;
	}
#mutari{
	position:relative;
	font-family:bebasregular;
	display:block;
	margin-top:4%;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	font-size:225%;
	color:white;
	padding-top:3%;
	padding-left:1%;
	padding-right:1%;
	text-align:center;
	text-shadow:0px 0px 15px black;
	overflow:visible;
}
#start{
	position:relative;
	font-family:bebasregular;
	display:block;
	margin-top:10%;
	left:50%;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
	font-size:350%;
	color:white;
	padding-top:3%;
	padding-left:1%;
	padding-right:1%;
	transform:translate(-50%,0);
	text-align:center;
	text-shadow:0px 0px 15px black;
	cursor:pointer;
	transition:0.5s all;
}
#start:hover{
	transition:0.5s all;
	font-size:450%;}
#sound{
	position:relative;
	width:35%;
	display:block;
	margin-top:6%;
	text-align:center;
	display:block;
	left:50%;
	transform:translate(-50%,0);
	cursor:pointer;
	transition:0.5s all;
}
#sound:hover{
	width:45%;
}